name: Test, Build, and Deploy | Modul 01 - Lab2.2 Senior Project TI

on:
  push:
    branches: [main]

jobs:
  test-build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - uses: actions/checkout@v4

      - name: Testing Build pre-Deploy
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"

      - run: npm install
      - run: npm run build

  deploy:
    needs: test-build
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - name: Build app on VM
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          port: ${{ secrets.PORT }}
          script: |
            set -e
            eval "$(ssh-agent -s)"
            ssh-add ~/.ssh/ssh-praktikan52
            base_dir="${HOME}/senpro/519650/modul02"
            repo_dir="${base_dir}/senpro-github-action"
            echo "Cek folder project";
            [ ! -d "${repo_dir}/.git" ] && {
              echo "Repository belum di-clone. Cloning...";
              mkdir -p "${base_dir}";
              cd "${base_dir}";
              git clone https://github.com/MHafidzAlFarisi/senpro-github-action.git;
              cd "${repo_dir}";
              echo "Install Package dan Build Project";
              npm install;
              npm run build;
            } || {
              echo "Repository sudah ada. Building...";
              cd "${repo_dir}";
              git restore .;
              git pull origin main;
              echo "Install Package dan Build Project";
              npm install;
              npm run build;
            }